<app-page-structure>
  <h1 class="title">{{ 'search.title' | translate }}</h1>

  @if (!searching) {
    <p class="description">{{ 'search.description' | translate }}</p>

    <form class="term-form">
      <mat-form-field class="term-field">
        <mat-label>{{ 'search.termSearchPlace' | translate }}</mat-label>
        <input id="term" type="email" matInput placeholder="Ex. tux@linux.org" [(ngModel)]="term"
               [ngModelOptions]="{ standalone: true }" autocomplete="off">

        @if (term) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="doSearch(this.term)">
            <span class="material-symbols-outlined">search</span>
          </button>
        }
      </mat-form-field>
    </form>

    @if (showHistory) {
      <mat-list>
        @for (item of history; track item) {
          <mat-list-item matRipple (click)="doSearch(item.term)" class="history-item">
            <mat-icon matListItemIcon>history</mat-icon>
            <div matListItemTitle (click)="doSearch(item.term)">{{ item.term }}</div>
            <div matListItemLine (click)="doSearch(item.term)">{{ item.searched | date: 'medium' }}</div>
          </mat-list-item>
        }
      </mat-list>
    }
  }

  <router-outlet></router-outlet>
</app-page-structure>
