<app-page-structure>
  <h1 class="title">{{ 'search.title' | translate }}</h1>

  @if (!searching) {
    <p class="description">{{ 'search.description' | translate }}</p>

    <form class="term-form">
      <mat-form-field class="term-field">
        <mat-label>{{ 'search.termSearchPlace' | translate }}</mat-label>
        <input id="term" matInput placeholder="Ex. tux@linux.org" [(ngModel)]="term"
               [ngModelOptions]="{ standalone: true }">

        @if (term) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="doSearch()">
            <span class="material-symbols-outlined">search</span>
          </button>
        }
      </mat-form-field>
    </form>
  }

  <router-outlet></router-outlet>
</app-page-structure>
