.searching {
  animation: .8s shake infinite alternate;
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

.not-found {
  color: tomato !important;
}

a {
  cursor: pointer;
  color: rgb(0, 102, 204);
  text-decoration: underline;
  text-underline-offset: 4px;
}
