#term, #not-found-term {
  min-width: 250px;
}

.not-found {
  color: tomato !important;
}

a {
  cursor: pointer;
  color: rgb(0, 102, 204);
  text-decoration: underline;
  text-underline-offset: 4px;
}
