<div class="surface-section text-center"
     [ngClass]="{'px-4 py-8 md:px-6 lg:px-8': isStatusStart() || isStatusProcessing() || isStatusItemsNotFound()}">
  <img ngSrc="assets/images/logo.svg" alt="FLISoL" height="100" width="223"
       [ngClass]="{'mb-6': isStatusStart() || isStatusProcessing() || isStatusItemsNotFound()}">
  <div class="text-2xl text-900 font-bold"
       [ngClass]="{'mb-3': isStatusStart() || isStatusItemsNotFound() || isStatusItemsFound(), 'mb-6': isStatusProcessing()}">
    Certificate verifier
  </div>

  <p class="text-600 line-height-3 mb-6" *ngIf="isStatusStart()">Verify easily the validity of a certificate emitted by
    FLISoL. Centered. Fast.</p>
  <p class="text-600 line-height-3 mb-6 not-found" *ngIf="isStatusItemsNotFound()">No results found. Please, try again.</p>

  <ng-container *ngIf="isStatusStart() || isStatusItemsNotFound()">
    <div class="flex align-items-center justify-content-center">
      <input id="term" pInputText placeholder="Enter your email or code" class="p-3 border-noround border-round-left"
             [(ngModel)]="term" (keyup.enter)="doSearch()" maxlength="40" autofocus>
      <button pButton pRipple icon="fa-solid fa-magnifying-glass" class="border-noround border-round-right p-3 w-auto"
              (click)="doSearch()"></button>
    </div>
  </ng-container>

  <ng-container *ngIf="isStatusProcessing()">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
                       animationDuration=".5s"></p-progressSpinner>
  </ng-container>

  <ng-container *ngIf="isStatusItemsFound() && (items !== null)">
    <p class="text-600 line-height-3 mb-6"><span *ngIf="items.length === 1">1 certificate found.</span><span
      *ngIf="items.length > 1">{{ items.length }} certificates found.</span>&nbsp;<a (click)="doClear()">Do another
      search.</a></p>

    <!-- Desktop -->
    <div class="grid hidden md:block shadow-1 border-round surface-card mb-3 m-2 h-full">
      <p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Edition</th>
            <th>Unit</th>
            <th>Name</th>
            <th>Enjoyed as</th>
            <th>Code</th>
            <th>Download</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.edition }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.enjoyedAs }}</td>
            <td>{{ item.code }}</td>
            <td>
              <p-button icon="fa-solid fa-download" styleClass="p-button-rounded p-button-text"
                        (click)="doDownload(item)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Mobile -->
    <div class="block sm:hidden">
      <ng-container *ngFor="let item of items">
        <div class="shadow-1 border-round surface-card mb-3 m-2 h-full flex-column justify-content-between flex">
          <div class="p-4 h-full text-left">
            <div class="flex justify-content-between">
              <div>
                <span class="text-900 font-medium text-2xl">{{ item.edition }}</span>
              </div>
              <div>
                <span class="text-black-alpha-50 text-sm code">{{ item.enjoyedAs }} #{{ item.code }}</span>
              </div>
            </div>
            <div class="text-black mt-2">{{ item.unit }}</div>
            <div class="text-black mt-2">{{ item.name }}</div>
            <div class="mt-4">
              <div class="flex flex-column md:flex-row card-container justify-content-center">
                <div class="flex align-items-center justify-content-center m-2">
                  <button pButton type="button" label="Download" icon="fa-solid fa-download" class="w-full p-button"
                          (click)="doDownload(item)"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

</div>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '90vw'}" [style]="{width: '50vw'}"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
