h1.title, p.description {
  margin-bottom: 2rem;
  text-align: center;
  cursor: default;

  // Specific styles for h1.title
  &.title {
    font-size: 1.5rem !important;
  }

  // Specific styles for p.description
  &.description {
    color: #757575;
    line-height: 1.5 !important;
  }
}

.term-form {
  min-width: 150px;
  width: 100%;

  .term-field {
    width: 100%;
  }
}

.history-item {
  cursor: pointer !important;
  border-radius: 4px !important;
  display: flex;
  align-items: center; /* Vertical centering */

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px; /* Space between icon and text */
    font-size: 24px; /* Ensure consistent icon size */
  }

  .mdc-list-item__content {
    display: flex;
    align-items: center; /* Vertical centering for text */
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
