/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.css';
@import 'primeng/resources/themes/saga-orange/theme.css';
@import 'primeng/resources/primeng.css';
// @import '@fortawesome/fontawesome-free/scss/fontawesome';
// @import '@fortawesome/fontawesome-free/scss/solid';
@import 'assets/fonts/fontawesome/fontawesome.scss';
@import 'assets/fonts/fontawesome/solid';
// @import 'flag-icons/css/flag-icons.min.css';
@import 'assets/fonts/flag-icons/flag-icons.scss';

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-menuitem.active {
  background-color: #FFC107;

  .p-menuitem-text {
    color: #212529;
  }
}
