.spinner {
  width: 48px !important;
  margin: 0 auto;
}

.items-not-found {
  text-align: center;
  color: tomato;
  cursor: default;

  a {
    cursor: pointer;
    color: rgb(0, 102, 204);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-left: .3rem;
  }
}

.result-message {
  color: #757575;
  text-align: center;
  margin-bottom: 2rem;
  cursor: default;

  a {
    cursor: pointer;
    color: rgb(0, 102, 204);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-left: .3rem;
  }
}

th, td {
  cursor: default;
}

td .code .material-symbols-outlined {
  font-size: 1rem;
  vertical-align: sub;
}

td.download {
  text-align: center;

  .material-symbols-outlined {
    // Fade In/Out effect
    @keyframes fadeInOut {
      0%, 100% {
        opacity: .1;
      }
      50% {
        opacity: 1;
      }
    }

    &.icon-fadeInOut {
      animation: fadeInOut 3s infinite;
    }
  }
}

.card {
  margin-bottom: 1rem;
  min-width: 200px;

  mat-card-header {
    margin-bottom: 1rem;

    mat-card-title div:first-child {
      display: flex;
      justify-content: space-between;

      div:first-child {
        font-weight: 600;
      }

      div:last-child {
        margin-left: 3rem;
        font-size: .6rem !important;
        color: #000;
      }
    }

    mat-card-content {
      margin-bottom: .5rem;

      p:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}
