.spinner {
  width: 48px !important;
  margin: 0 auto;
}

.items-not-found {
  text-align: center;
  color: tomato;
  cursor: default;

  a {
    cursor: pointer;
    color: rgb(0, 102, 204);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-left: .3rem;
  }
}

.result-message {
  color: #757575;
  text-align: center;
  margin-bottom: 2rem;
  cursor: default;

  a {
    cursor: pointer;
    color: rgb(0, 102, 204);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-left: .3rem;
  }
}
