.spinner {
  width: 48px !important;
  margin: 0 auto;
}

.items-not-found {
  text-align: center;
  color: tomato;
  cursor: default;

  a {
    cursor: pointer;
    color: rgb(0, 102, 204);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-left: .3rem;
  }
}

.result-message {
  color: #757575;
  text-align: center;
  margin-bottom: 2rem;
  cursor: default;

  a {
    cursor: pointer;
    color: rgb(0, 102, 204);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-left: .3rem;
  }
}

th, td {
  cursor: default;
}

td .code .material-symbols-outlined {
  font-size: 1rem;
  vertical-align: sub;
}

td.download {
  text-align: center;
}

.card {
  margin-bottom: 1rem;
  min-width: 200px;

  mat-card-header {
    margin-bottom: 1rem;

    mat-card-title div:first-child {
      display: flex;
      justify-content: space-between;

      div:first-child {
        font-weight: 600;
      }

      div:last-child {
        margin-left: 3rem;
        font-size: .6rem !important;
        color: #000;
      }
    }
  }

  mat-card-content p:first-child {
    margin-bottom: .5rem;
    font-size: .8rem;
  }
}

.material-symbols-outlined {
  // Clockwise spinning effect (Z-axis)
  @keyframes spinClockwise {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.icon-spinClockwise {
    display: inline-block;
    animation: spinClockwise 2s linear infinite;
  }
}
