.card {
  margin-bottom: 1rem;
  min-width: 200px;

  mat-card-header {
    margin-bottom: 1rem;

    mat-card-title div:first-child {
      display: flex;
      justify-content: space-between;

      div:first-child {
        font-weight: 600;
      }

      div:last-child {
        margin-left: 3rem;
        font-size: .6rem !important;
        color: #000;
      }
    }
  }

  mat-card-content p:first-child {
    margin-bottom: .5rem;
    font-size: .8rem;
  }
}
