.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;

  min-height: 90%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -20px;
}

footer {
  // margin-top: 8px;
  align-items: center;
  line-height: 20px;
  text-align: center;
  display: block;
  font-size: 10px;
  padding-bottom: .5rem;
  cursor: default;
}
